:root {
  --bg-color: #1B3C53;
  --extra-dark: #152e3f;
  --highlight: #78B9B5;
  --light-color: #D2C1B6;
  --hero-color-one: #74ff86;
  --hero-color-two: #b978ac;

  --margin-left: 5%;
  --margin-right: 5%;
  transition: all 0.5s ease-in-out;

}


header {
  margin-top: 100px;
  height: 90vh;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(15px) brightness(0.7);
}

.Navbar-ul {
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 0;
}

.Navbar-li {
  list-style: none;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--light-color);
  transition: all 1s ease-in-out;
}

main {
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  display: flex;
  flex-direction: column;
  gap: 20%;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  color: var(--light-color);
}

h2 {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--light-color);
}

a {
  text-decoration: none;
  color: var(--light-color);
  
}

footer {
  bottom: 0;
  margin-left: var(--margin-left);
  margin-right: var(var--margin-right);
}