:root {
  --bg-color: #1B3C53;
  --extra-dark: #152e3f;
  --highlight: #78B9B5;
  --light-color: #D2C1B6;
  --hero-color-one: #74ff86;
  --hero-color-two: #b978ac;

  --margin-left: 5%;
  --margin-right: 5%;
  transition: all 0.5s ease-in-out;

}
.Hero {
  margin-top: 100px;
  height: 90vh;
}


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(15px) brightness(0.7);
}

.Navbar-ul {
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 0;
}

.Navbar-li {
  list-style: none;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--light-color);
  transition: all 1s ease-in-out;
}

main {
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  display: flex;
  flex-direction: column;
  gap: 20%;
}

.Video {
  width: 400px;
}
.About-me-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: var(--margin-left);
}
.about-me-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-family: "Nunito";
  color: var(--light-color);
  font-size: 1.3rem;
  width: 50vw;
  padding-left: 15px;
  border-left: var(--highlight) 3px solid;
}

.logos * {
  padding: 0;
  list-style: none;
}
.logos {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}
.logos li {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.Logo-img {
  height: 70px;
  object-fit:cover;
}
.skill-list {
  display: flex;
  flex-direction: column;
  width: 100px;
  border-left: var(--highlight) 3px solid;
  padding-left: 15px;
  justify-content: start;
  align-items: start;
  font-family: "Nunito", sans-serif;
  color: var(--light-color);
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  color: var(--light-color);
}

h2 {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--light-color);
}

a {
  text-decoration: none;
  color: var(--light-color);
}
p {
  margin: 0;
}

footer {
  bottom: 0;
  height: 30px;
  background-color: var(--light-color);
}